* text=auto
*.py text eol=lf
*.md text eol=lf
*.tex text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.sh text eol=lf
*.png binary
*.jpg binary
*.jpeg binary
*.pdf binary
*.xlsx binary
*.xls binary
*.opju binary
*.opj binary
